.about {
  &-text {
    margin-top: 1rem;
    font-weight: bolder;

    font-size: 2rem;
    width: 70%;
    padding: 2rem;
    line-height: 1.1;

    @include media-md {
      width: 90%;
    }

    &_paragraph {
      margin-bottom: 2rem;
      line-height: 1.5;
      text-align: justify;
    }
  }

  &-cite {
    font-size: 1.6rem;
    padding: 2rem 3rem;
    border-left: 0.5rem solid $third-color;
    letter-spacing: 0.5rem;
  }
}
