.heading-container {
  margin-bottom: 4rem;
}

.heading-secondary {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 4rem;
}

.heading-tertiary {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

.pre-heading {
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-align: center;
  color: $third-color;

  &::before,
  &::after {
    content: "\223c";
    position: absolute;
    top: -3px;
    font-size: 1.6rem;
  }

  &::before {
    left: -4rem;
  }
  &::after {
    right: -4rem;
  }
}

.heading-desc {
  font-size: 4rem;
  letter-spacing: 1rem;

  @include media-md {
    letter-spacing: 8px;
  }
}

figcaption {
  text-align: right;
}
