@import "./variables";
@import "./responsive";

@import "./typography";
@import "./about";
@import "./skills";
@import "./contact";
@import "./sections";
@import "./buttons";
@import "./navigation";
@import "./projects";
@import "./form";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;

  @include media-sm {
    font-size: 9px;
  }
}

body {
  color: $second-color;
  font-family: monospace;
  background-color: $main-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
