@import "./variables";
@import "./typography";
@import "./about";
@import "./skills";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: $second-color;
  font-family: monospace;
  background-color: $main-color;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

figcaption {
  text-align: right;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: -1rem;

  &-link {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

    &:hover {
      color: $third-color;
    }
  }
}

.logo {
  margin-top: 10rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  text-align: center;
  padding: 1rem;
  color: $third-color;

  &-name {
    font-size: 4rem;
  }
}

.skills-list {
  display: flex;
}
.skills-item {
  padding: 1rem;
}

@import "./sections";
@import "./buttons";
@import "./navigation";
@import "./projects";
@import "./form";
@import "./footer";
