@import "./variables";
@import "./responsive";
@import "./typography";
@import "./buttons";
@import "./navigation";
@import "./welcome";
@import "./about";
@import "./skills";
@import "./projects";
@import "./contact";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;

  @include media-sm {
    font-size: 9px;
  }
  @include media-xs {
    font-size: 8px;
  }
}

body {
  color: $second-color;
  font-family: monospace;
  background-color: $main-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 8rem;
  scroll-behavior: smooth;

  @include media-md {
    margin-left: 0;
  }
}

.section {
  &-about,
  &-skills,
  &-projects,
  &-contact {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    margin-bottom: 4rem;

    @include media-sm {
      padding: 1rem;
    }
  }
}
